# Ignore Python virtual environments
ag_env/
.venv/
venv/

# Byte-compiled Python
__pycache__/
*.py[cod]

# Streamlit history
.streamlit/

# Ignore data exports and backups
*.xlsx
# Ignore all CSV except our census file
*.csv
!data/agcensus_wide.csv

*.Rproj
*.txt

# Ignore old/test scripts
hello_test.py
test_*.py
ontario_ag_dash.py
ag_dashboard_clean_debug.py
ag_dashboard_diagnostics.py
validate_inputs.py
Column.py

# OS artifacts
.DS_Store
Thumbs.db
